In [72]:
import pandas as pd
import numpy as np

In [76]:
dataset=pd.read_csv("../Datasets/ktm_dataset_updated_genre_column.csv")
print(dataset.head())
print(dataset.shape)

   dest_id                 title                                   genre  \
0        1      Boudhanath Stupa  history:art_and_architecture:religious
1        2  Swayambhunath Temple  history:art_and_architecture:religious
2        3  Pashupatinath Temple  history:art_and_architecture:religious
3        4     Chandragiri Hills                                  nature
4        5       Kopan Monastery  history:art_and_architecture:religious

     latitude  longitude
0  27.7215062  85.359809
1  27.7149298  85.288146
2  27.7104461  85.346503
3  27.6710496  85.262664
4  27.7425438  85.362208
(2345, 5)

In [77]:
print(dataset)

      dest_id                                title  \
0           1                     Boudhanath Stupa
1           2                 Swayambhunath Temple
2           3                 Pashupatinath Temple
3           4                    Chandragiri Hills
4           5                      Kopan Monastery
...       ...                                  ...
2340     2341         Zeal Nepal Trek & Expedition
2341     2342                        Mohit Sunuwar
2342     2343  SITA (Travel Corporation India Ltd)
2343     2344                       Himalayan Hike
2344     2345                            River Fun

                                           genre    latitude  longitude
0         history:art_and_architecture:religious  27.7215062  85.359809
1         history:art_and_architecture:religious  27.7149298  85.288146
2         history:art_and_architecture:religious  27.7104461  85.346503
3                                         nature  27.6710496  85.262664
4         history:art_and_architecture:religious  27.7425438  85.362208
...                                          ...         ...        ...
2340                                     history         NaN        NaN
2341                                   adventure         NaN        NaN
2342                                     history         NaN        NaN
2343  history:art_and_architecture:entertainment         NaN        NaN
2344              nature:adventure:entertainment         NaN        NaN

[2345 rows x 5 columns]

In [78]:
# assign IDs to the places
id_list=list(range(1,len(dataset)+1))
dataset['dest_id']=id_list

In [79]:
print(dataset)

      dest_id                                title  \
0           1                     Boudhanath Stupa
1           2                 Swayambhunath Temple
2           3                 Pashupatinath Temple
3           4                    Chandragiri Hills
4           5                      Kopan Monastery
...       ...                                  ...
2340     2341         Zeal Nepal Trek & Expedition
2341     2342                        Mohit Sunuwar
2342     2343  SITA (Travel Corporation India Ltd)
2343     2344                       Himalayan Hike
2344     2345                            River Fun

                                           genre    latitude  longitude
0         history:art_and_architecture:religious  27.7215062  85.359809
1         history:art_and_architecture:religious  27.7149298  85.288146
2         history:art_and_architecture:religious  27.7104461  85.346503
3                                         nature  27.6710496  85.262664
4         history:art_and_architecture:religious  27.7425438  85.362208
...                                          ...         ...        ...
2340                                     history         NaN        NaN
2341                                   adventure         NaN        NaN
2342                                     history         NaN        NaN
2343  history:art_and_architecture:entertainment         NaN        NaN
2344              nature:adventure:entertainment         NaN        NaN

[2345 rows x 5 columns]

In [81]:
dataset_to_be_merged=pd.read_csv("../Datasets/final-ish_destinations_of_ktm.csv")
print(dataset_to_be_merged)

      dest_id                                title avg_rating  voted_by  \
0           1                     Boudhanath Stupa        4.5      8897
1           2                 Swayambhunath Temple        4.5      6203
2           3                 Pashupatinath Temple        4.5      4937
3           4                    Chandragiri Hills        4.5       399
4           5                      Kopan Monastery        4.5       787
...       ...                                  ...        ...       ...
2340     2341         Zeal Nepal Trek & Expedition          N         0
2341     2342                        Mohit Sunuwar          N         0
2342     2343  SITA (Travel Corporation India Ltd)          N         0
2343     2344                       Himalayan Hike          N         0
2344     2345                            River Fun          N         0

                                           genre    latitude  longitude  \
0         history:art_and_architecture:religious  27.7215062  85.359809
1         history:art_and_architecture:religious  27.7149298  85.288146
2         history:art_and_architecture:religious  27.7104461  85.346503
3                                         nature  27.6710496  85.262664
4         history:art_and_architecture:religious  27.7425438  85.362208
...                                          ...         ...        ...
2340                                     history         NaN        NaN
2341                                   adventure         NaN        NaN
2342                                     history         NaN        NaN
2343  history:art_and_architecture:entertainment         NaN        NaN
2344              nature:adventure:entertainment         NaN        NaN

                                                img_url
0     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
...                                                 ...
2340                                                NaN
2341                                                NaN
2342                                                NaN
2343                                                NaN
2344                                                NaN

[2345 rows x 8 columns]

In [82]:
dataset_to_be_merged['genre']=dataset['genre']

In [83]:
dataset_to_be_merged=dataset_to_be_merged[['dest_id','title','avg_rating','voted_by','genre','latitude','longitude']]

In [84]:
print(dataset_to_be_merged[:200])

     dest_id                                title avg_rating  voted_by  \
0          1                     Boudhanath Stupa        4.5      8897
1          2                 Swayambhunath Temple        4.5      6203
2          3                 Pashupatinath Temple        4.5      4937
3          4                    Chandragiri Hills        4.5       399
4          5                      Kopan Monastery        4.5       787
..       ...                                  ...        ...       ...
195      196              Travel Maker South Asia          5       225
196      197  Nepal Alibaba Treks & Tours Pvt Ltd          5       105
197      198                  Alpine Ramble Treks          5       240
198      199      Info Nepal Treks and Expedition          5       206
199      200          Epic Adventures - Day Tours          5       259

                                          genre    latitude  longitude
0        history:art_and_architecture:religious  27.7215062  85.359809
1        history:art_and_architecture:religious  27.7149298  85.288146
2        history:art_and_architecture:religious  27.7104461  85.346503
3                                        nature  27.6710496  85.262664
4        history:art_and_architecture:religious  27.7425438  85.362208
..                                          ...         ...        ...
195              art_and_architecture:religious  27.7134196  85.311246
196                                     history  27.7375441  85.302841
197                                     history  27.7191624  85.306492
198  history:art_and_architecture:entertainment  27.7160399  85.308885
199              art_and_architecture:religious  27.7009722  85.280179

[200 rows x 7 columns]

In [85]:
# add the base64 images too 
dataset_with_img=pd.read_csv("../Datasets/destinations_of_kathmandu_updated_with_latlong_and_image.csv")
print(dataset_with_img)

                                    title avg_rating  voted_by  \
0                        Boudhanath Stupa        4.5      8897
1                    Swayambhunath Temple        4.5      6203
2                    Pashupatinath Temple        4.5      4937
3                       Chandragiri Hills        4.5       399
4                         Kopan Monastery        4.5       787
...                                   ...        ...       ...
2340         Zeal Nepal Trek & Expedition          N         0
2341                        Mohit Sunuwar          N         0
2342  SITA (Travel Corporation India Ltd)          N         0
2343                       Himalayan Hike          N         0
2344                            River Fun          N         0

                                            genre    latitude  longitude  \
0                                 Religious Sites  27.7215062  85.359809
1                                 Religious Sites  27.7149298  85.288146
2                                 Religious Sites  27.7104461  85.346503
3                                       Mountains  27.6710496  85.262664
4                                 Religious Sites  27.7425438  85.362208
...                                           ...         ...        ...
2340     Multi-day Tours • River Rafting & Tubing         NaN        NaN
2341  Parasailing & Paragliding • Multi-day Tours         NaN        NaN
2342              Multi-day Tours • Balloon Rides         NaN        NaN
2343                 City Tours • Multi-day Tours         NaN        NaN
2344    River Rafting & Tubing • Taxis & Shuttles         NaN        NaN

                                                img_url
0     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4     data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
...                                                 ...
2340                                                NaN
2341                                                NaN
2342                                                NaN
2343                                                NaN
2344                                                NaN

[2345 rows x 7 columns]

In [70]:
dataset_to_be_merged["img_url"]=dataset_with_img["img_url"] #copying images from the one with the image to other

In [86]:
# dataset.to_csv("final-ish_destinations_of_ktm.csv",index=None)
dataset.to_csv("../Datasets/final-ish_destinations_of_ktm.csv",index=None)